<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/barkod?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.connection.password">aaa</property>
    <mapping class="model.kullanici"/>
    <mapping class="model.personel"/>
    <mapping class="model.musteri"/>
    <mapping class="model.urun"/>
    <mapping class="model.marka"/>
    <mapping class="model.kategori"/>
    <mapping class="model.stok_satis"/>
  </session-factory>
</hibernate-configuration>
